<section>
    <div class="bg-gray-800 container mx-auto mt-10 sm:mt-20 p-4 sm:p-6 text-center rounded-tr-full rounded-bl-full">
        <h1 class="text-3xl sm:text-4xl text-white font-bold mb-2 sm:mb-4">User Information</h1>
        <p class="text-white text-lg sm:text-xl mb-4">IP Address: {{ ip }}</p>
        <p class="text-white text-lg sm:text-xl mb-4">Hostname: {{ hostname }}</p>
        <p class="text-white text-lg sm:text-xl mb-4">City: {{ city }}</p>
        <p class="text-white text-lg sm:text-xl mb-4">ISP: {{ isp }}</p>
    </div>
</section>