<section>
    <div
        class="bg-gray-800 bg-opacity-50 container mx-auto mt-5 sm:mt-15 p-4 sm:p-4 text-center rounded-tr-full rounded-bl-full">
        <h1 class="text-3xl sm:text-4xl text-white font-bold mb-2 sm:mb-4">User Information</h1>
        <div *ngIf="userinfo; else blocked">
            <p class="text-white text-lg sm:text-xl mb-4">IP Address: {{ userinfo.ip }}</p>
            <p class="text-white text-lg sm:text-xl mb-4">Hostname: {{ userinfo.hostname }}</p>
            <p class="text-white text-lg sm:text-xl mb-4">City: {{ userinfo.city }}</p>
            <p class="text-white text-lg sm:text-xl mb-4">ISP: {{ userinfo.org }}</p>
            <p class="text-white text-lg sm:text-xl mb-4">OS: {{ os }}</p>
            <p class="text-white text-lg sm:text-xl mb-4">Browser: {{ browser }}</p>
        </div>
        <ng-template #blocked>
            <p class="text-white text-lg sm:text-xl mb-4">Request blocked by client.</p>
        </ng-template>
    </div>
</section>