<div class="bg-transparent mb-6 sm:mb-12">
    <div class="glow container mx-auto mt-10 sm:mt-20 p-4 sm:p-6 text-center rounded-tr-full rounded-bl-full">
        <h1 id="name"
            class="text-3xl sm:text-4xl text-white font-bold mb-2 sm:mb-4 s1 hover:cursor-pointer transition duration-200 ease-in">
            Syed Ali Aun</h1>
        <div class="flex flex-wrap justify-center space-x-2 sm:space-x-4 mb-2 sm:mb-4">
            <a href="#" target="_blank"
                class="text-white hover:text-red-700 flex items-center transition duration-200 hover:animate-bounce">
                <i class="fab fa-facebook text-xl sm:text-2xl mr-1 sm:mr-2"></i>
                Facebook
            </a>
            <a href="#" target="_blank"
                class="text-white hover:text-red-700 flex items-cente transition duration-200 ease-out hover:animate-bounce">
                <i class="fab fa-twitter text-xl sm:text-2xl mr-1 sm:mr-2"></i>
                Twitter
            </a>
            <a href="https://github.com/drakin003" target="_blank"
                class="text-white hover:text-red-700 flex items-center transition duration-200 ease-out hover:animate-bounce">
                <i class="fab fa-github text-xl sm:text-2xl mr-1 sm:mr-2"></i>
                GitHub
            </a>
            <a href="" target="_blank"
                class="text-white hover:text-red-700 flex items-center transition duration-200 ease-out hover:animate-bounce">
                <i class="fab fa-discord text-xl sm:text-2xl mr-1 sm:mr-2"></i>
                Discord
            </a>
            <a href="" target="_blank"
                class="text-white hover:text-red-700 flex items-center transition duration-200 ease-out hover:animate-bounce">
                <i class="fab fa-teamspeak text-xl sm:text-2xl mr-1 sm:mr-2"></i>
                TeamSpeak 3
            </a>
        </div>
    </div>
</div>