<section class="bg-gray-900 flex items-center justify-center">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0 mt-5 mb-5 w-auto">
      <div class="w-full bg-gray-800 rounded-lg shadow-md border-gray-700 md:mt-0 sm:max-w-md xl:p-0">
        <div class="p-6 space-y-6 sm:p-8">
          <h1 class="text-2xl font-bold leading-tight tracking-tight text-white md:text-3xl">
            Register a new account
          </h1>
          <form class="space-y-6" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
            <div>
              <label for="username" class="block mb-2 text-sm font-medium text-white">Username</label>
              <input type="text" name="username" id="username" [class.border-red-500]="username.invalid && username.touched" class="bg-gray-700 border border-gray-600 text-white rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Your username" required [(ngModel)]="user.username" #username="ngModel">
              <p *ngIf="username.invalid && username.touched" class="mt-2 text-white">Please provide a valid username.</p>
            </div>
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-white">Your email</label>
              <input type="email" name="email" id="email" [class.border-red-500]="email.invalid && email.touched" class="bg-gray-700 border border-gray-600 text-white rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="name@company.com" required [(ngModel)]="user.email" #email="ngModel">
              <p *ngIf="email.invalid && email.touched" class="mt-2 text-white">Please provide a valid email address.</p>
            </div>
            <div>
              <label for="plainpassword" class="block mb-2 text-sm font-medium text-white">Password</label>
              <input type="password" name="plainpassword" id="plainpassword" placeholder="••••••••" [class.border-red-500]="plainpassword.invalid && plainpassword.touched" class="bg-gray-700 border border-gray-600 text-white rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required [(ngModel)]="user.plainpassword" #plainpassword="ngModel">
              <p *ngIf="plainpassword.invalid && plainpassword.touched" class="mt-2 text-white">Please enter a valid password.</p>
            </div>
            <button type="submit" class="w-full text-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 bg-blue-600" [class.disabled]="!registerForm.valid" [disabled]="!registerForm.valid">Register</button>
            <p class="text-sm font-light text-gray-400">{{ registermessage }}</p>
          </form>
        </div>
      </div>
    </div>
  </section>
