<div class="flex items-center justify-center bg-gray-900">
    <div *ngIf="product" class="p-6 bg-gray-800 rounded-lg shadow-md max-w-md mt-4 mb-4">
      <img class="w-full h-64 object-cover rounded-md" [src]="product.url" alt="product image" />
      <h2 class="mt-4 text-white text-2xl font-bold">{{product.name}}</h2>
      <p class="mt-2 text-gray-400">CPU: <span class="text-white">{{product.cpu}}</span></p>
      <p class="mt-2 text-gray-400">RAM: <span class="text-white">{{product.ram}}</span></p>
      <p class="mt-2 text-gray-400">Storage: <span class="text-white">{{product.storage}}</span></p>
      <p class="mt-4 text-white text-3xl font-bold">{{product.price | currency: 'PKR ' }}</p>
    </div>
  </div>
  